
<ul>
    <% for(var i = 0; i < project.length; i++) { %>
    <li>
        <span><%= project[i].proname %></span>
        <span><%= project[i].location %></span>
        <span><%= project[i].no_mem %></span>
        <span><%= project[i].procost %></span>
        <span><%= project[i].manager_name %></span>
    </li>
    <% } %>
</ul>